@model PagedList.IPagedList<ShopOnlineConnection.SANPHAM>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2>Check Our Products</h2>
                    <span>Awesome</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->
<!-- ***** Products Area Starts ***** -->
<section class="section" id="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Our Latest Products</h2>
                    <span>Check out all of our products.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                                <ul>
                                   
                                    <li><a href="@Url.Action("Details",new {id=@item.MASP})"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="@Url.Action("Details",new {id=@item.MASP})"><i class="fa fa-star"></i></a></li>
                                    <li><a href="@Url.Action("Details",new {id=@item.MASP})"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>  
                            <img src="~/Assets/images/@item.HINHCHINH" alt="">
                        </div>
                        <div class="down-content">
                            <h4> @item.TENSP </h4>
                            <span>@item.GIA VNĐ</span>
                            <ul class="stars">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            }



            <div class="col-lg-12">
                <div class="pagination">
                    <ul>
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Products Area Ends ***** -->
